#status > * {
	font-family: sans-serif; 
}
#status > * table {
	min-width:1000px;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-left:auto; 
    margin-right:auto;
}
#status > * span.finish {
	color: #00680E;
}
#status > * span.running {
	color: #1E00E8;
}
#status > * span.pending,tr.pending {
	color: #cccccc;
}
#status > * span.stopped {
	color: #000000;
}
#status > * tr.error {
	color: #aa0000;
}
#status > * th {
	background-color: #cccccc;
}
#status > * td.shapestring {
	font-family: monospace;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
#status > * td {
	padding-left: 5px;
}
#status > * td.generation, td.execution {
	text-align: center;
}
#status > * td.probability, td.score, td.pfvalue {
	text-align: right;
}
#status > * td.probability {
	font-weight: bold;
}
#status > * table.metainfo tr th {
	text-align: left;
}
/* table borders: */
#status > * th, #status > * td {
	border: solid 1px #555555;
}
#status > * td#outer {
	border: solid 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}



body {
	text-align: center;
}
th, td {
	border: solid 10px #555555;
}
