body {
	text-align: center;
}
* {
	font-family: sans-serif; 
}
table {
	min-width:1000px;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-left:auto; 
    margin-right:auto;
}
span.finish {
	color: #00680E;
}
span.running {
	color: #1E00E8;
}
span.pending,tr.pending {
	color: #cccccc;
}
span.stopped {
	color: #000000;
}
tr.error {
	color: #aa0000;
}
th {
	background-color: #cccccc;
}
td.shapestring {
	font-family: monospace;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
td {
	padding-left: 5px;
}
td.generation, td.execution {
	text-align: center;
}
td.probability, td.score, td.pfvalue {
	text-align: right;
}
td.probability {
	font-weight: bold;
}
table.metainfo tr th {
	text-align: left;
}

/* table borders: */
th, td {
	border: solid 1px #555555;
	border: solid 1px #555555;
}